In [120]:
import pandas as pd
import re
import datetime
import itertools

# A. Text Cleaning

In [121]:
comments = pd.read_csv('forum_comments_2022.csv')
comments.head()

,date,user_id,message
0,2022-01-01 03:53:00,benjaminh,\nAlthough the acceleration times in most car ...
1,2022-01-01 03:57:00,tjc78,\n\n@stickguy said:\nXM only comes on it if yo...
2,2022-01-01 04:08:00,tjc78,\n\n@qbrozen said:\nI don’t have the room for ...
3,2022-01-01 04:48:00,graphicguy,\nCongrats @stickguy ……very cool!
4,2022-01-01 06:03:00,au1994,\nHappy New Year all!Congrats @stickguy. I rea...

In [122]:
comments['message'][0]

'\nAlthough the acceleration times in most car magazines are somewhat bogus, they are still useful for comparison. Anyway, Car and Driver has just tested a Maverick 2.0 awd, and they got a 0-60 time of 5.9, which is not that far from a base BMW 330i at 5.6. Anyway, for the money the Maverick is a fast vehicle.https://www.caranddriver.com/reviews/a38516737/2022-ford-maverick-xlt-fx4-by-the-numbers/stickguy: Did you end up going for the 0% financing? If so, those payments of c. 750 a month are steep, but the equity will obviously build up very quickly. Even right now you could probably sell it for several thousand more than what you bought it for. The latest I heard on the chip shortage is that it will only slowly abate in 2022. According to one article I saw, things aren\'t likely to truly get back to "normal," whatever that is, probably until the second half of 2023. If true, this will likely mean that there won\'t be a sudden collapse of car prices. With all the lost production and pent up demand we\'ve got, used and new vehicle prices are likely to remain high for the first half of 2022, and then only slowly start to decline after that. And so in 6 months or so when your Maverick hybrid arrives you should still be able to pocket a handy profit on your 2.0 Maverick as you make the trade. '

### Remove username in the message

In [123]:
def remove_uid(text):
    return re.sub(r'@\S+', '', text)

In [124]:
comments['cleaned'] = [remove_uid(w) for w in comments['message']]
comments['cleaned'][0]

'\nAlthough the acceleration times in most car magazines are somewhat bogus, they are still useful for comparison. Anyway, Car and Driver has just tested a Maverick 2.0 awd, and they got a 0-60 time of 5.9, which is not that far from a base BMW 330i at 5.6. Anyway, for the money the Maverick is a fast vehicle.https://www.caranddriver.com/reviews/a38516737/2022-ford-maverick-xlt-fx4-by-the-numbers/stickguy: Did you end up going for the 0% financing? If so, those payments of c. 750 a month are steep, but the equity will obviously build up very quickly. Even right now you could probably sell it for several thousand more than what you bought it for. The latest I heard on the chip shortage is that it will only slowly abate in 2022. According to one article I saw, things aren\'t likely to truly get back to "normal," whatever that is, probably until the second half of 2023. If true, this will likely mean that there won\'t be a sudden collapse of car prices. With all the lost production and pent up demand we\'ve got, used and new vehicle prices are likely to remain high for the first half of 2022, and then only slowly start to decline after that. And so in 6 months or so when your Maverick hybrid arrives you should still be able to pocket a handy profit on your 2.0 Maverick as you make the trade. '

### Convert all text to lower case

In [125]:
comments['cleaned'] = comments['cleaned'].str.lower()
comments['cleaned'][0]

'\nalthough the acceleration times in most car magazines are somewhat bogus, they are still useful for comparison. anyway, car and driver has just tested a maverick 2.0 awd, and they got a 0-60 time of 5.9, which is not that far from a base bmw 330i at 5.6. anyway, for the money the maverick is a fast vehicle.https://www.caranddriver.com/reviews/a38516737/2022-ford-maverick-xlt-fx4-by-the-numbers/stickguy: did you end up going for the 0% financing? if so, those payments of c. 750 a month are steep, but the equity will obviously build up very quickly. even right now you could probably sell it for several thousand more than what you bought it for. the latest i heard on the chip shortage is that it will only slowly abate in 2022. according to one article i saw, things aren\'t likely to truly get back to "normal," whatever that is, probably until the second half of 2023. if true, this will likely mean that there won\'t be a sudden collapse of car prices. with all the lost production and pent up demand we\'ve got, used and new vehicle prices are likely to remain high for the first half of 2022, and then only slowly start to decline after that. and so in 6 months or so when your maverick hybrid arrives you should still be able to pocket a handy profit on your 2.0 maverick as you make the trade. '

### Remove Unicode Character (URL)

In [126]:
import re

def remove_url(text):
    return re.sub(r'http\S+', '', text)

In [127]:
comments['cleaned'] = [remove_url(w) for w in comments['cleaned']]
comments['cleaned'][0]

'\nalthough the acceleration times in most car magazines are somewhat bogus, they are still useful for comparison. anyway, car and driver has just tested a maverick 2.0 awd, and they got a 0-60 time of 5.9, which is not that far from a base bmw 330i at 5.6. anyway, for the money the maverick is a fast vehicle. did you end up going for the 0% financing? if so, those payments of c. 750 a month are steep, but the equity will obviously build up very quickly. even right now you could probably sell it for several thousand more than what you bought it for. the latest i heard on the chip shortage is that it will only slowly abate in 2022. according to one article i saw, things aren\'t likely to truly get back to "normal," whatever that is, probably until the second half of 2023. if true, this will likely mean that there won\'t be a sudden collapse of car prices. with all the lost production and pent up demand we\'ve got, used and new vehicle prices are likely to remain high for the first half of 2022, and then only slowly start to decline after that. and so in 6 months or so when your maverick hybrid arrives you should still be able to pocket a handy profit on your 2.0 maverick as you make the trade. '

### Remove numbers

In [128]:
import re 
order = r'[0-9]'

# text as the row
def remove_numbers(text):
    filtered_text = re.sub(order,'',text)
    return filtered_text

In [129]:
comments['cleaned'] = [remove_numbers(w) for w in comments['cleaned']]
comments['cleaned'][0]

'\nalthough the acceleration times in most car magazines are somewhat bogus, they are still useful for comparison. anyway, car and driver has just tested a maverick . awd, and they got a - time of ., which is not that far from a base bmw i at .. anyway, for the money the maverick is a fast vehicle. did you end up going for the % financing? if so, those payments of c.  a month are steep, but the equity will obviously build up very quickly. even right now you could probably sell it for several thousand more than what you bought it for. the latest i heard on the chip shortage is that it will only slowly abate in . according to one article i saw, things aren\'t likely to truly get back to "normal," whatever that is, probably until the second half of . if true, this will likely mean that there won\'t be a sudden collapse of car prices. with all the lost production and pent up demand we\'ve got, used and new vehicle prices are likely to remain high for the first half of , and then only slowly start to decline after that. and so in  months or so when your maverick hybrid arrives you should still be able to pocket a handy profit on your . maverick as you make the trade. '

### Remove punctuation

Replace punctuation with white space to avoid string concatenation

In [130]:
import string

def remove_punctuation(text):
    filtered_text = text.translate(str.maketrans(string.punctuation," "*len(string.punctuation)))
    return filtered_text

In [131]:
comments['cleaned'] = [remove_punctuation(w) for w in comments['cleaned']]
comments['cleaned'][0]

'\nalthough the acceleration times in most car magazines are somewhat bogus  they are still useful for comparison  anyway  car and driver has just tested a maverick   awd  and they got a   time of    which is not that far from a base bmw i at    anyway  for the money the maverick is a fast vehicle  did you end up going for the   financing  if so  those payments of c   a month are steep  but the equity will obviously build up very quickly  even right now you could probably sell it for several thousand more than what you bought it for  the latest i heard on the chip shortage is that it will only slowly abate in   according to one article i saw  things aren t likely to truly get back to  normal   whatever that is  probably until the second half of   if true  this will likely mean that there won t be a sudden collapse of car prices  with all the lost production and pent up demand we ve got  used and new vehicle prices are likely to remain high for the first half of   and then only slowly start to decline after that  and so in  months or so when your maverick hybrid arrives you should still be able to pocket a handy profit on your   maverick as you make the trade  '

### Tokenize: breaking sentences into words

Use TreebankWordTokenizer to not break the contradition word like "I'm" "I don't"

In [132]:
import nltk
from nltk import word_tokenize
from nltk.tokenize import TreebankWordTokenizer

def tokenize_word(text):
    return TreebankWordTokenizer().tokenize(text)

In [133]:
comments['tokenized'] = [tokenize_word(w) for w in comments['cleaned']]

comments['tokenized'].head()

0    [although, the, acceleration, times, in, most,...
1    [said, xm, only, comes, on, it, if, you, add, ...
2    [said, i, don’t, have, the, room, for, it, but...
3                             [congrats, ……very, cool]
4    [happy, new, year, all, congrats, i, really, r...
Name: tokenized, dtype: object

### Remove stop words

In [134]:
import nltk
from nltk.corpus import stopwords

stop_words = nltk.corpus.stopwords.words('english')

# Query as the row 
def remove_stopwords(query):
    result = [word for word in query if word not in stop_words]
    return result

In [135]:
comments['cleaned'] = [remove_stopwords(w) for w in comments['tokenized']]
comments['cleaned'].head()

0    [although, acceleration, times, car, magazines...
1    [said, xm, comes, add, lariat, luxury, package...
2    [said, don’t, room, someone, save, poor, thing...
3                             [congrats, ……very, cool]
4    [happy, new, year, congrats, really, really, l...
Name: cleaned, dtype: object

# B. Find the top-5 brands 

Find from the forum messages by calculating frequency counts. 

For each brand, the mention is counted only once per post.

In [136]:
brands = pd.read_csv('car_companies.csv')
brands.head()

         Make
0        SNVI
1     Zanella
2      Koller
3  Anasagasti
4  AutoLatina

In [137]:
# Extract the brand names
brands = brands['Make'].tolist()

# Convert to lowercase
brands = list(map(str.lower,brands))

brands[:5]

['snvi', 'zanella', 'koller', 'anasagasti', 'autolatina']

In [138]:
freqDict = dict(zip(brands, [0]*len(brands)))

# For each message
for i in range(len(comments)):
    # For every word in the message
    text = comments['cleaned'][i]
    for w in text:
        if w in brands:
            freqDict[w] += 1

In [139]:
newDict = dict((k, v) for k, v in freqDict.items() if v > 0)
print(newDict)

{'holden': 1, 'steyr': 1, 'sin': 1, 'beaumont': 1, 'brooks': 6, 'dennis': 1, 'derby': 2, 'dynasty': 1, 'monarch': 1, 'passport': 5, 'russell': 10, 'aero': 5, 'alpine': 8, 'bugatti': 14, 'peugeot': 10, 'renault': 3, 'alpina': 4, 'apollo': 1, 'audi': 329, 'bitter': 5, 'bmw': 648, 'fuso': 4, 'man': 177, 'opel': 63, 'porsche': 77, 'smart': 69, 'volkswagen': 17, 'borgward': 1, 'nag': 2, 'bet': 109, 'force': 25, 'tvs': 16, 'hero': 2, 'premier': 8, 'standard': 165, 'tmc': 2, 'abarth': 1, 'cts': 7, 'ducati': 3, 'ferrari': 21, 'fiat': 49, 'iso': 3, 'lancia': 2, 'lamborghini': 11, 'maserati': 14, 'zagato': 3, 'bertone': 4, 'fca': 3, 'rapid': 4, 'acura': 245, 'daihatsu': 3, 'dome': 7, 'honda': 379, 'infiniti': 104, 'isuzu': 13, 'kawasaki': 3, 'lexus': 89, 'mazda': 107, 'nissan': 187, 'subaru': 159, 'suzuki': 26, 'toyota': 387, 'yamaha': 3, 'datsun': 6, 'eunos': 1, 'stellantis': 15, 'buddy': 55, 'think': 2478, 'delta': 25, 'star': 19, 'umm': 6, 'yugo': 4, 'genesis': 48, 'hyundai': 254, 'kia': 158, 'daewoo': 6, 'samsung': 10, 'seat': 351, 'micro': 17, 'polestar': 92, 'saab': 19, 'martini': 1, 'ac': 87, 'bentley': 14, 'jaguar': 10, 'lotus': 8, 'mclaren': 6, 'mg': 5, 'mini': 275, 'tvr': 1, 'vauxhall': 3, 'alvis': 1, 'austin': 41, 'bristol': 5, 'daimler': 3, 'marcos': 1, 'rover': 41, 'singer': 2, 'triumph': 3, 'buick': 56, 'cadillac': 96, 'chevrolet': 26, 'chrysler': 68, 'dodge': 45, 'eldorado': 3, 'fisker': 2, 'ford': 801, 'freightliner': 1, 'gm': 172, 'google': 71, 'gem': 7, 'gmc': 16, 'jeep': 484, 'karma': 1, 'lincoln': 64, 'mack': 1, 'pierce': 2, 'polaris': 1, 'ram': 111, 'rivian': 159, 'shelby': 1, 'srt': 6, 'tesla': 395, 'amc': 2, 'brush': 8, 'chandler': 3, 'columbia': 1, 'continental': 37, 'cord': 17, 'cutting': 21, 'eagle': 9, 'edsel': 5, 'essex': 1, 'gardner': 1, 'geo': 2, 'hudson': 1, 'hummer': 1, 'jackson': 7, 'kaiser': 1, 'king': 32, 'lafayette': 2, 'lexington': 2, 'local': 521, 'mercury': 4, 'mitchell': 4, 'moon': 23, 'nash': 1, 'national': 51, 'oldsmobile': 24, 'overland': 1, 'packard': 2, 'peerless': 3, 'pilot': 133, 'plymouth': 13, 'pontiac': 31, 'regal': 4, 'saturn': 42, 'stanley': 4, 'white': 399, 'willys': 10}

In [140]:
sorted_brands = sorted(newDict.items(), key=lambda x:x[1], reverse=True)
sorted_dict = dict(sorted_brands)

print(sorted_dict)

{'think': 2478, 'ford': 801, 'bmw': 648, 'local': 521, 'jeep': 484, 'white': 399, 'tesla': 395, 'toyota': 387, 'honda': 379, 'seat': 351, 'audi': 329, 'mini': 275, 'hyundai': 254, 'acura': 245, 'nissan': 187, 'man': 177, 'gm': 172, 'standard': 165, 'subaru': 159, 'rivian': 159, 'kia': 158, 'pilot': 133, 'ram': 111, 'bet': 109, 'mazda': 107, 'infiniti': 104, 'cadillac': 96, 'polestar': 92, 'lexus': 89, 'ac': 87, 'porsche': 77, 'google': 71, 'smart': 69, 'chrysler': 68, 'lincoln': 64, 'opel': 63, 'buick': 56, 'buddy': 55, 'national': 51, 'fiat': 49, 'genesis': 48, 'dodge': 45, 'saturn': 42, 'austin': 41, 'rover': 41, 'continental': 37, 'king': 32, 'pontiac': 31, 'suzuki': 26, 'chevrolet': 26, 'force': 25, 'delta': 25, 'oldsmobile': 24, 'moon': 23, 'ferrari': 21, 'cutting': 21, 'star': 19, 'saab': 19, 'volkswagen': 17, 'micro': 17, 'cord': 17, 'tvs': 16, 'gmc': 16, 'stellantis': 15, 'bugatti': 14, 'maserati': 14, 'bentley': 14, 'isuzu': 13, 'plymouth': 13, 'lamborghini': 11, 'russell': 10, 'peugeot': 10, 'samsung': 10, 'jaguar': 10, 'willys': 10, 'eagle': 9, 'alpine': 8, 'premier': 8, 'lotus': 8, 'brush': 8, 'cts': 7, 'dome': 7, 'gem': 7, 'jackson': 7, 'brooks': 6, 'datsun': 6, 'umm': 6, 'daewoo': 6, 'mclaren': 6, 'srt': 6, 'passport': 5, 'aero': 5, 'bitter': 5, 'mg': 5, 'bristol': 5, 'edsel': 5, 'alpina': 4, 'fuso': 4, 'bertone': 4, 'rapid': 4, 'yugo': 4, 'mercury': 4, 'mitchell': 4, 'regal': 4, 'stanley': 4, 'renault': 3, 'ducati': 3, 'iso': 3, 'zagato': 3, 'fca': 3, 'daihatsu': 3, 'kawasaki': 3, 'yamaha': 3, 'vauxhall': 3, 'daimler': 3, 'triumph': 3, 'eldorado': 3, 'chandler': 3, 'peerless': 3, 'derby': 2, 'nag': 2, 'hero': 2, 'tmc': 2, 'lancia': 2, 'singer': 2, 'fisker': 2, 'pierce': 2, 'amc': 2, 'geo': 2, 'lafayette': 2, 'lexington': 2, 'packard': 2, 'holden': 1, 'steyr': 1, 'sin': 1, 'beaumont': 1, 'dennis': 1, 'dynasty': 1, 'monarch': 1, 'apollo': 1, 'borgward': 1, 'abarth': 1, 'eunos': 1, 'martini': 1, 'tvr': 1, 'alvis': 1, 'marcos': 1, 'freightliner': 1, 'karma': 1, 'mack': 1, 'polaris': 1, 'shelby': 1, 'columbia': 1, 'essex': 1, 'gardner': 1, 'hudson': 1, 'hummer': 1, 'kaiser': 1, 'nash': 1, 'overland': 1}

"THINK', 'LOCAL', and 'WHITE' are some common words that people use in their sentences, it is highly likely that they got misclassified as a car brand.

Additionaly, 'TH!NK' has filed bankrupty in 2011, "LOCAL" also shut down their factory in the beginning of 2022, and "WHITE" is an old brand back in the 1980s.

It is safe to say people were not referring to the brand "TH!NK", "LOCAL" or "WHITE" when they used these threee words.

Remove words that are commonly used in the sentence but not refer to the brand because the manufacturers have already been defuncted.

In [141]:
unwanted = ['think','local','white','seat','mini','standard','bet','buddy','man','smart','national','cutting']

for w in unwanted:
    del sorted_dict[w]

#sorted_dict

In [142]:
df = pd.DataFrame.from_dict(sorted_dict, orient='index', columns=['freq'])
df.index.name = 'brand'
df.head(10)

         freq
brand
ford      801
bmw       648
jeep      484
tesla     395
toyota    387
honda     379
audi      329
hyundai   254
acura     245
nissan    187

The actual top-5 brand should be <b>Ford, BMW, Jeep, Tesla, and Toyota</b>.

In [143]:
df.to_csv('mentioned_brands.csv')

# C. Identify top-3 co-mentioned brands

Calculate the frequency of co-mentions of brands.

For example, if Honda and Toyota are mentioned in the same post, then the co-mention frequency of Honda and Toyota increases by 1.

In [144]:
metioned_brands = pd.read_csv('mentioned_brands.csv')
metioned_brands

        brand  freq
0        ford   801
1         bmw   648
2        jeep   484
3       tesla   395
4      toyota   387
..        ...   ...
143    hudson     1
144    hummer     1
145    kaiser     1
146      nash     1
147  overland     1

[148 rows x 2 columns]

For simplicity, only select brands that were mentioned over 20 times.

We cannot gain much insight if the brand were only mentioned very few time.

In [145]:
metioned_brands = metioned_brands[metioned_brands['freq'] >= 20]
metioned_brands.shape

(44, 2)

In [146]:
# Extract the metioned brand names
brands = metioned_brands['brand'].tolist()
brands[:5]

['ford', 'bmw', 'jeep', 'tesla', 'toyota']

In [87]:
# Create a dataframe of size messages to store all the brands mentioned in each message
comention = pd.DataFrame(index=range(len(comments)),columns=['brands_mentioned'])
comention['brands_mentioned'] = pd.np.empty((len(comention), 0)).tolist()
comention.head()

C:\Users\shans\AppData\Local\Temp\ipykernel_9568\4227647362.py:3: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  comention['brands_mentioned'] = pd.np.empty((len(comention), 0)).tolist()

  brands_mentioned
0               []
1               []
2               []
3               []
4               []

In [147]:
# For each message
for i in range(len(comments)):
    text = comments['cleaned'][i]
    for w in text:
        if w in brands and w not in comention['brands_mentioned'][i]:
            comention['brands_mentioned'][i].append(w)

comention

      brands_mentioned
0                [bmw]
1                   []
2                   []
3                   []
4                   []
...                ...
13498               []
13499          [mazda]
13500               []
13501               []
13502               []

[13503 rows x 1 columns]

In [148]:
comention_dict = {}

for i in range(len(comention)):
    brands_in_msg = comention['brands_mentioned'][i]
    brands_in_msg.sort()

    keys = list(itertools.combinations(brands_in_msg,2))
    for k in keys:
        if k in comention_dict:
            comention_dict[k] += 1
        else:
            comention_dict[k] = 1

sorted(comention_dict.items(), key=lambda x:x[1], reverse=True)[:10]

[(('acura', 'honda'), 66),
 (('honda', 'toyota'), 62),
 (('hyundai', 'kia'), 52),
 (('ford', 'toyota'), 46),
 (('bmw', 'toyota'), 43),
 (('ford', 'gm'), 41),
 (('hyundai', 'toyota'), 37),
 (('bmw', 'jeep'), 36),
 (('audi', 'bmw'), 35),
 (('bmw', 'honda'), 35)]

The top 3 brand pairs which get mentioned together the most are:
- Acura and Honda
- Honda and Toyota
- Hyundai and KIA

# D. Brand-Attribute Co-Frequency

Find the 5 most frequently mentioned attributes of cars in the discussions.

Identify which attributes are most strongly associated with the top 5 brands we found in part B.

In [149]:
top_brands = ['ford','bmw','jeep','tesla','toyota']

### Extract noun and adjective

In [150]:
import spacy
nlp = spacy.load('en_core_web_sm')

def extract_noun_adj(query):
    result = []
    doc = nlp(" ".join(query))
    
    result = [w for w in doc if w.pos_ == "NOUN" or w.pos_ == "ADJ"]
    return result

In [151]:
comments['extracted'] = [extract_noun_adj(w) for w in comments['cleaned']]
comments['extracted'].head()

0    [acceleration, times, car, magazines, bogus, u...
1    [package, navi, option, fine, assume, phone, a...
2    [poor, thing, wrong, thrust, obvious, stuff, s...
3                                     [congrats, cool]
4                         [happy, new, year, congrats]
Name: extracted, dtype: object

### Lemmatize all the tokens

In [152]:
from nltk.stem import WordNetLemmatizer
lemmatizer = WordNetLemmatizer()

def lemmatize_text(query):
    result = []

    for ele in query:
        result.append(lemmatizer.lemmatize(ele.text))
    
    return result

In [153]:
comments['extracted'] = [lemmatize_text(w) for w in comments['extracted']]
comments['extracted'].head()

0    [acceleration, time, car, magazine, bogus, use...
1    [package, navi, option, fine, assume, phone, a...
2    [poor, thing, wrong, thrust, obvious, stuff, s...
3                                     [congrats, cool]
4                         [happy, new, year, congrats]
Name: extracted, dtype: object

### Count term frequency

In [ ]:
attribute_dict = {}

for i in range(len(comments)):
    terms_in_msg = comments['extracted'][i]
    terms_in_msg.sort()

    for k in terms_in_msg:
        if len(k) > 1:
            if k in attribute_dict:
                attribute_dict[k] += 1
            else:
                attribute_dict[k] = 1
    
attribute_dict = dict(sorted(attribute_dict.items(), key=lambda x:x[1], reverse=True))

In [155]:
attr_df = pd.DataFrame.from_dict(attribute_dict, orient='index', columns=['freq'])
attr_df.index.name = 'attributes'
attr_df.head(10)

            freq
attributes
car         6327
year        3129
time        2842
new         2614
good        2040
dealer      2009
mile        1902
day         1833
lot         1648
price       1624

In [157]:
attr_df.to_csv('attr_freq.csv')

Given the word frequency result, I selected 40 most frequently mentioned car attributes from top-200 are:

In [175]:
freq_car_attributes = ['mile', 'price', 'tire', 'engine', 'big', 
                       'color', 'issue','seat', 'deal', 'wheel', 
                       'door', 'problem', 'garage', 'low', 'oil','gas', 
                       'battery', 'high','interior', 'speed', 'system',
                       'cost', 'light', 'hybrid', 'rate', 'warranty', 
                       'value', 'worth', 'cheap', 'le', 'power', 
                       'small', 'mileage', 'size', 'brake', 'winter', 'window', 'range','expensive']

In [248]:
# Create an empty dataframe with attributes * top_brands
brand_attr_df = pd.DataFrame(0, columns=top_brands, index=freq_car_attributes)
brand_attr_df.head()

for i in range(len(comments)):
    msg = comments['cleaned'][i]

    brands = []
    attrs = []
    for m in msg:
        if m in top_brands and m not in brands:
            brands.append(m)
        if m in freq_car_attributes and m not in attrs:
            attrs.append(m)

    for a in attrs:
        for b in brands:
            brand_attr_df.loc[a][b] += 1

In [249]:
brand_attr_df.sort_values(by = 'ford', ascending=False)

           ford  bmw  jeep  tesla  toyota
price        64   92    27     27      41
big          63   31    12     30      34
engine       54   56    25      7      43
hybrid       45   21    34     19      28
deal         44   43    13     11      24
size         42   10     4      8      22
system       42   28    14      7      29
high         42   26    11     10      21
gas          35    6    17     20      10
cost         35   25    17     15      27
cheap        33   17    26     10      29
worth        31    7     8      2       9
mileage      29   10    23      6      16
expensive    28   16     9     18      10
door         28    7    22      4      10
low          27   26     9     12      16
value        26   23    20      7      15
color        26   45    10      7      27
oil          25   28    11      5      16
problem      25   29    43     11      26
interior     24   30     7      4      19
issue        22   21    13     10      12
power        22   18     8     18      11
small        21   12    15      4      13
mile         20   25    11      8      13
wheel        18   15     9      4      12
light        17   33    22      3      23
seat         15   25    18     12       7
battery      13    7     5     15      15
brake        13    4     0      4       3
range        13   23    12     29      11
speed        13   31     8     13      18
garage        9   24    41     11      16
winter        9   10    10      6       0
window        8   11    11      1      13
warranty      6   15     9     17      24
rate          3    3     2      2       7
tire          2    9     4      7       4
le            0    0     0      0       1

# E. Identify the most aspirational brand

### Extract Verbs

In [250]:
import spacy
nlp = spacy.load('en_core_web_sm')

def extract_verb(query):
    result = []
    doc = nlp(" ".join(query))
    
    result = [w for w in doc if w.pos_ == "VERB"]
    return result

In [252]:
comments['desired'] = [extract_verb(w) for w in comments['cleaned']]
comments['desired'].head()

0    [tested, got, base, end, going, build, sell, b...
1    [said, comes, add, use, spend, playing, used, ...
2       [said, room, save, fix, concerned, see, agree]
3                                                   []
4                                                   []
Name: desired, dtype: object

### Lemmatize all the tokens

In [253]:
comments['desired'] = [lemmatize_text(w) for w in comments['desired']]
comments['desired'].head()

0    [tested, got, base, end, going, build, sell, b...
1    [said, come, add, use, spend, playing, used, f...
2       [said, room, save, fix, concerned, see, agree]
3                                                   []
4                                                   []
Name: desired, dtype: object

### Count verb frequency

In [254]:
verb_dict = {}

for i in range(len(comments)):
    terms_in_msg = comments['desired'][i]
    terms_in_msg.sort()

    for k in terms_in_msg:
        if len(k) > 1:
            if k in verb_dict:
                verb_dict[k] += 1
            else:
                verb_dict[k] = 1
    
verb_dict = dict(sorted(verb_dict.items(), key=lambda x:x[1], reverse=True))

In [255]:
verb_df = pd.DataFrame.from_dict(verb_dict, orient='index', columns=['freq'])
verb_df.index.name = 'verbs'
verb_df.head(10)

        freq
verbs
said   11029
get     3449
think   2381
go      1888
got     1788
know    1659
make    1594
see     1547
going   1544
want    1467

In [256]:
verb_df.to_csv('verb_freq.csv')